@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  color: #333333;
  background-color: #f7f3ef;
  font-family: "Cabin", sans-serif;
  line-height: 1.8;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

* {
  font-size: 18px;
}

.page {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.page .page-title {
  text-align: center;
  font-size: 4em;
  font-family: "Lora", serif;
}
.page .page-subtitle {
  text-align: center;
  font-size: 18px;
  font-family: "Cabin", sans-serif;
  color: rgba(0, 0, 0, 0.9);
}

.section {
  display: flex;
  flex-direction: row;
  width: 100%;
}

h1 {
  font-size: 4em;
  line-height: 1.2em;
}

h2 {
  font-size: 2.5em;
}

#curve {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.left {
  width: 45%;
}
.left .content {
  padding-left: 20%;
}

#landing {
  position: relative;
  background-color: #3ea9fd;
}
#landing .divider {
  width: 15%;
  z-index: 1;
  flex-shrink: 0;
}
#landing .left {
  padding-top: 50px;
  padding-bottom: 100px;
  line-height: 2.5em;
  background-color: #01223c;
  color: white;
  flex-shrink: 0;
  z-index: 1;
}
#landing .left #landing-text {
  font-size: 1.6em;
}
#landing .cloud {
  position: absolute;
  animation: linear infinite;
  animation-name: run;
  animation-duration: 30s;
  width: 300px;
  height: 300px;
  left: 50%;
  top: 2%;
  animation-duration: 30s;
  opacity: 0.8;
}
#landing #c1 {
  left: 75%;
  top: 15%;
  animation-name: c1;
}
#landing #c2 {
  left: 45%;
  top: 40%;
  animation-name: c2;
  transform: scale(-0.8, 0.8);
}
#landing #c3 {
  left: 0%;
  top: calc(100% - 150px);
  animation-name: c3;
}
#landing #c4 {
  left: 10%;
  top: 10%;
  animation-name: c4;
  transform: scale(-1, 1);
}
#landing #c5 {
  left: 60%;
  top: 70%;
  animation-name: c5;
}
#landing #c6 {
  left: 55%;
  top: 10%;
  animation-name: c6;
}
@keyframes c1 {
  0% {
    left: 75%;
  }
  25% {
    left: 110%;
  }
  25.001% {
    left: 0%;
  }
  100% {
    left: 75%;
  }
}
@keyframes c2 {
  0% {
    left: 45%;
  }
  55% {
    left: 110%;
  }
  55.001% {
    left: 0%;
  }
  100% {
    left: 45%;
  }
}
@keyframes c3 {
  0% {
    left: 0%;
  }
  100% {
    left: 110%;
  }
}
@keyframes c4 {
  0% {
    left: 10%;
  }
  90% {
    left: 110%;
  }
  90.001% {
    left: 0%;
  }
  100% {
    left: 10%;
  }
}
@keyframes c5 {
  0% {
    left: 60%;
  }
  40% {
    left: 110%;
  }
  40.001% {
    left: 0%;
  }
  100% {
    left: 60%;
  }
}
@keyframes c6 {
  0% {
    left: 55%;
  }
  45% {
    left: 110%;
  }
  45.001% {
    left: 0%;
  }
  100% {
    left: 55%;
  }
}
#landing #airplane {
  position: relative;
  width: 600px;
  display: inline-block;
  z-index: 1;
}

.footer {
  text-align: center;
  width: 100%;
  margin: 100px 0 25px 0;
  color: rgba(0, 0, 0, 0.3);
}
.footer a {
  color: inherit;
}

#about {
  background-color: #ffdfb4;
  background-image: url("../assets/top-left.svg"), url("../assets/bottom-right.svg");
  background-position: calc(50% - 35vw) top, -100px calc(100% + 100px);
  background-repeat: no-repeat, no-repeat;
  background-size: min(600px, 30vw), 300px;
  color: rgba(0, 0, 0, 0.7);
}
#about p {
  font-size: 1.2em;
}
#about .left {
  width: 35%;
}
#about .right {
  width: 45%;
  padding-left: 5%;
  background-color: #ffdfb4;
}

.content {
  padding-top: 100px;
  padding-bottom: 100px;
}

#contact-btn {
  margin-top: 40px;
  margin-bottom: 20px;
}
#contact-btn button {
  transition: 150ms ease-in;
  border: none;
  padding: 20px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 2px;
  display: table;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  text-shadow: rgba(0, 0, 0, 0.5) 0 2px;
  box-shadow: 0 5px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to right, #553ee8, #362cb3);
}
#contact-btn button:hover {
  background-color: #269afb;
}

#title-accent {
  color: #ffa521;
  font-size: 1em;
  font-style: italic;
}

#contact {
  background-image: url("../assets/paper.svg");
  background-repeat: no-repeat;
  background-position: 80% 10%;
  background-size: min(500px, 30vw);
  flex-direction: column;
}

#contact-text {
  font-size: 1.2em;
  line-height: 2em;
}

#contact-text b {
  font-size: 1em;
}

@media only screen and (max-width: 1200px) {
  .page {
    width: 95%;
  }
  .page .page-title {
    font-size: 2.5em;
  }
  .content {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 18px;
  }
  #landing {
    flex-direction: column;
  }
  #landing .left {
    width: 100%;
    padding-top: 25px;
  }
  #landing .left .content {
    padding-left: 0;
    width: 90%;
    margin: 0 auto;
    font-size: 1.2em;
  }
  #landing .left #landing-title {
    font-size: 2.5em;
  }
  #landing .left #landing-text {
    font-size: 1.2em;
  }
  #landing #airplane {
    display: none;
  }
  #landing .cloud {
    display: none;
  }
  #landing .divider {
    display: none;
  }
  #about {
    background-image: url("../assets/top-right.svg");
    background-position: calc(100% + 150px) top;
    background-repeat: no-repeat;
    background-size: 600px;
    color: rgb(10, 10, 10);
  }
  #about .left {
    width: 0;
  }
  #about .right {
    width: 100%;
    background: none;
    padding-left: 0;
  }
  #about .right .content {
    padding-left: 0;
    width: 90%;
    margin: 0 auto;
  }
  #contact {
    background-image: url("../assets/paper-reverse.svg");
    background-position: calc(100% + 200px) calc(100% + 100px);
    background-repeat: no-repeat;
    background-size: 600px;
  }
  #contact .left {
    width: 100%;
  }
  #contact .left .content {
    padding-left: 0;
    width: 90%;
    margin: 0 auto;
  }
  .section {
    margin-left: 0;
    margin-right: 0;
  }
}

/*# sourceMappingURL=page.css.map */
