$bg: #fafafa;
$fg-grey: #efefef;
$fg: #333333;
$white: #fff;
$sunset-red: #ff4b50;

$accent: #0d8efb;

$font-family: 'Libre Baskerville', serif;
$sans-serif: 'Nunito', sans-serif;

$size-small: 0.9em;
$size-normal: 20px;
$size-medium: 1.2em;
$size-header: 1.6em;
$size-large: 2.5em;
$size-largest: 3em;